.portfolio{
    display: flex;
}
.drawer{
    background: linear-gradient(rgb(1, 1, 108), blue , rgb(18, 165, 214));
    color: white;
    height: 600px;
    width: 18%;
    border-radius: 5%;
    margin: 3em;
    padding: 4em;
    
}
.drawer div{
    font-size: 30px;
    margin-bottom: 1em;
    padding-bottom: 2vh;
    padding-top: 2vh;
    height: 2em;
    border-bottom: 1px solid gray;
}

.profileHeader{
    display: flex;
    flex-direction: row;
    width: 72em;
    border-bottom: 1px solid silver;
    justify-content: space-between;
    padding: 2em 0px;
}
.profileAvatar{
   display: flex;
}
.profileAvatar>h2{
    margin-left: 1vh;
    margin-top: 1vh;
    margin-right: 1vh;
}

#avatarBigPic{
    height: 13em;
    width: 13em;
    margin: 1em;
}
#textName{
    margin-left: 2em;
    margin-bottom: 1vh;
}
.textProfile{
    color: rgb(99, 94, 94);
}
.userNameProfile h2{
    margin: 2vh 0px;
}

.userNameProfile{
    border-bottom: 1px solid black;
}

.companyBio{
    display: flex;
    flex-direction: column;
    padding-right: 2em;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.userFullDiv{
    display: flex;
    flex-direction: row;
    padding-top: 2em;
}
.addressBox{
    margin: 2em;
}
.addressBox h2{
    margin: 2vh 3vh;
}
.mapDivBox{
    height: 390px;
    width: 490px;
    border-radius: 15%;
    margin-top: 5em;
}

#popupPoster{
    float: right;
    position: absolute;
    background-color: wheat;
    border-radius: 6%;
    padding: 2vh 4em;
    display: none;
    margin: 5em 0px 0px 81%;
    box-shadow: 1px 6px 6px 6px rgb(135, 125, 106);
}
#avatarPic{
    height: 5em;
    width: 5em;
}

.nextUsr{
    display: flex;
    flex-direction: row;
    padding: 5px 0px 5px  0px;
    border-top: 1px solid silver;
    width: 100%;
    margin-top: 1vh;
}
.nextUsr h3{
    margin-left: 1vh;
    margin-top: 1vh;
    margin-right: 1vh;
}
#signOutButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 0px;
    background-color: darkred;
    color: white;
    border-radius: 25em;
    text-decoration: none;
    font-size: 22px;
}

.iconArrow{
    background-color: rgb(236, 97, 97);
    color: white;
    /* background-color: white;
    color: black;  */
    padding: 1vh 1vh ;
    margin-right: -8vh;
    border-radius: 25% 0% 25% 25% ;
    font-size: 36px;
 
}
.buttonsIcon{
    display: flex;
    justify-content: space-between;
    
}
#profile{
    display: block;
}
#posts{
    display: none;
}
#gallary{
    display: none;
}
#todo{
    display: none;
}